<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.UberPath"
        tools:targetApi="31">
        <activity
            android:name=".activity.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SetPINActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ReasonActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CountryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BiometricActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CreateNewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VerifyIdentityActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PasswordRecoveryActivity"
            android:exported="true" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OnBoardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>